@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  font-family: Inter, Helvetica, sans-serif;
  min-width: 360px;
  min-height: 100vh;
  font-size: 20px;
  box-sizing: content-box;
  @media screen and (max-width: 1300px) {
    font-size: 16px;
  }
}

/* .noise {
  background: url(https://grainy-gradients.vercel.app/noise.svg), #f0f0f0;
  background-blend-mode: multiply;
} */

/* 
  Dark mode noise background:
  - Uses a dark solid color (#1a1a1a) with the noise SVG overlay.
  - 'screen' blend mode inverts the noise effect for dark backgrounds. Key trick: Inverts the noise effect for dark mode
  - Opacity is set to 0.8 for a subtle effect.
*/

a {
  @apply text-blue-600 visited:text-purple-600 hover:underline;
}

a:visited {
  font-style: italic;
}
