@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  font-family: Inter, Helvetica, sans-serif;
  min-width: 360px;
  min-height: 100vh;
  font-size: 20px;
  box-sizing: content-box;
  @media screen and (max-width: 1300px) {
    font-size: 16px;
  }
}

.noise {
  background: url(https://grainy-gradients.vercel.app/noise.svg), #f0f0f0;
  background-blend-mode: multiply;
}

.dark .noise {
  background: url(https://grainy-gradients.vercel.app/noise.svg), #1a1a1a; /* Dark mode solid color */
  background-blend-mode: screen; /* Key trick: Inverts the noise effect for dark mode */
  opacity: 0.8; /* Fine-tune for subtle noise */
}
